




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper > *{
    margin: 10px;
    padding: 10px;
    flex: 1 100%;
    border-radius: 10px;
}
.header{
    background-color: tomato;
    min-height: 100px;
}
.aside-1{
    background-color: orange;
order: 1;
}
.aside-2{
    background-color: orange;
    order: 2;
}
.aside-3{
    background-color: orange;
    order: 3;
}
.aside-4{
    background-color: orange;
    order: 4;
}
.aside-5{
    background-color: orange;
    order: 5;
}
.aside-6{
    background-color: orange;
    order: 6;
}
.aside-7{
    background-color: orange;
order: 7;
}

.footer{
    background-color: lightgreen;
    min-height: 80px;
    order: 8;
}
button{
    width: auto;
    height: 20px;
    background-color: blue;
    border:1px solid blue;
    border-radius: 10%;
}
a{
    color: white;
}